<html>
  <head>
      <title>Best. RPG. Ever.</title>
      <link rel="stylesheet" type="text/css" href="expressapp.css">
      <script src="expressapp.js" type="text/javascript"></script>
  </head>
   
  <body>
    <h1>Ultima VII: The Black Gate</h1>
   
    <div class="gameContainer">
      <div class="articleContainer" id="ultima-7" data-passcode="Guardian">
        <img src="images/Ultima7.jpg" class="boxArt">
        <h3>Story</h3>
        <p class="storyline">The game begins with what appears to be the game introduction on the Avatar's own computer screen. Suddenly, the screen is filled with static, and a red creature who calls himself The Guardian proclaims:</p>
        <p>“   Avatar! Know that Britannia has entered into a new age of enlightenment! Know that the time has finally come for the one true Lord of Britannia to take His place at the head of His people! Under my guidance, Britannia will flourish. And all the people shall rejoice and pay homage to their new... Guardian! Know that you, too, shall kneel before me, Avatar. You, too, shall soon acknowledge my authority - for I shall be your companion... your provider... and your master!    ”</p>
        <p>The Orb of the Moons glows, and the Avatar finds that a red moongate has appeared behind the house. The Avatar thus returns to Britannia through the moongate, and arrives in Trinsic, where he[6] meets Iolo. Iolo tells him that two centuries have passed since he left. The whole town is shocked due to a ritualistic murder that occurred the preceding night - the body of the blacksmith Christopher was found in the stable. Finnigan, Mayor of Trinsic, asks the Avatar to investigate the incident.</p>
        <p>In Trinsic, the Avatar gets to meet several members of a new religious organization called the Fellowship. Eventually, in Britain, he meets Batlin, one of the founders of the Fellowship. He also meets Lord British, who urges the Avatar to join the Fellowship, which, according to him, has done a lot of good things. It also turns out most of the mages of the realm have gone completely insane without any good explanation, and their magic doesn't work as it should.</p>
        <p>Most of the game is composed of the Avatar's investigation of the Fellowship and the Trinsic murders. During the game, the Avatar finds more and more clues that implicate the Fellowship in shady dealings; more murders appear on the way, and the Avatar himself goes undercover by entering the Fellowship. His quest takes him to most of the cities and towns of Britannia, including Minoc, a destroyed Skara Brae run by a liche, Yew, Moonglow and Bucaneer's Den.</p>
        <p>The Avatar eventually learns of an astronomical alignment of importance that is supposed to happen very soon, and about the three evil Generators that the Guardian has created, which have been causing most of the problems of the land. After destroying them, he and his companions follow several leads to the Isle of Avatar, where members of the Fellowship are waiting. The Fellowship has fashioned a black moongate out of blackrock on this island to allow the Guardian to enter Britannia when the astronomical alignment happens.</p>
        <p>The Avatar confronts the Fellowship members and defeats them. As the astronomical alignment begins and the Guardian starts to loom behind the moongate, the Avatar destroys the gate just in time, preventing the Guardian from entering Britannia. As the moongates had been rendered useless by the destruction of one of the generators, the Avatar has to remain in Britannia, with no means to return to Earth.</p>
        <p>For more Ultima fun check out <a href="http://www.ultimaaiera.com/">Ultima Aiera</a>.</p>
       </div>
      </div>
  </body>
</html>